{
  "parser": "babel-eslint",
  "plugins": [
    "react-perf",
    "react-hooks"
  ],
  "extends": [
    "react-app",
    "plugin:react-perf/all"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}