.Board
{
  width: 100%;
  position: relative;

  &-square
  {
    position: relative;
    background-color: lightgray;
    border: 2px solid paleturquoise;

    &.is-hovered
    {
      background-color: green;
    }
  }

  &-squareOverlay
  {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid palevioletred;
    z-index: 200;
  }
}

button {
  background-color: yellow;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid brown;

  &[disabled]
  {
    background-color: lightgray;
    cursor: default;
  }
}