.Board
{
  width: 100%;
  margin: 20px;
  position: relative;

  &-square
  {
    background-color: lightgray;
    border: 2px solid paleturquoise;

    &.is-hovered
    {
      background-color: green;
    }

    &.is-selected
    {
      border: 2px solid palevioletred;
    }
  }
}

button {
  background-color: yellow;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid brown;
}