$yellow:      #FFD959;
$faded-yellow: #BDA259;

.Tile
{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $yellow;

  box-shadow: .5px .5px 0 #bda259,1px 1px 0 #bda259,1.5px 1.5px 0 #bda259,2px 2px 0 #bda259,2.5px 2.5px 0 #bda259,3px 3px 0 #bda259;
}